! AS 64512 - 65535 are private ASes, and we can map AS 645xx to 10.0.xx.1/24
route-map ALLOW-ALL permit 100

router bgp 645{{ node_id }}
  bgp router-id 10.0.{{ node_id }}.1
  neighbor peer peer-group
  neighbor peer capability dynamic
  neighbor peer route-map ALLOW-ALL in
  neighbor peer route-map ALLOW-ALL out
{% for item in mapping[node_id] %}
  neighbor {{ item.IP }} peer-group peer
  neighbor {{ item.IP }} remote-as 645{{ item.AS }}
  neighbor {{ item.IP }} description AS 645{{ item.AS }}
{% endfor %}
  network 10.0.{{ node_id }}.0/24