---

- name: Set IP Address and Gateway for terminal
  command: "ip addr add {{ ip }}/24 dev ens160"
  when: ip is defined
  become: yes
  ignore_errors: yes

- name: Set GW for terminal
  command: "ip route add 10.0.0.0/8 dev ens160 src {{ ip }} via {{ gw }}"
  when: ip is defined
  become: yes
  ignore_errors: yes
