---

- name: copy poisoning script
  ansible.builtin.template:
    src: scripts/pathpoison.py
    dest: /opt/pathpoison.py
  become: yes

- name: execute poisoning script
  command: "/usr/bin/python3 /opt/pathpoison.py {{ source }} {{ target }}"